<div class="p-3 mb-3 bg-dark text-white rounded">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus et odio, facilis inventore, nihil esse deserunt error possimus.
    </p>
    <p class="mb-0">
        Repellendus atque harum libero? Enim magni quos, temporibus ratione ea et harum?
    </p>
</div>

<p class="mb-0">
    Lorem, ipsum dolor sit amet <strong>consectetur adipisicing elit</strong>. Quisquam reiciendis exercitationem, <strong>beatae praesentium non qui ullam</strong> temporibus ex provident asperiores amet pariatur nesciunt illum, unde nemo, soluta atque quod nostrum?
</p>

<a href="{{ path('app_comments') }}" class="btn btn-warning btn-lg">Comentarios</a>